{% extends "base.html.j2" %}
{% block title %}Settings &mdash; Job Apply{% endblock %}
{% block content %}
<article>
  <header>
    <h2>Settings</h2>
  </header>

  <div class="settings-layout">
    <aside class="settings-sidebar">
      {% include "partials/settings_sidebar.html.j2" %}
    </aside>
    <div id="settings-content" class="settings-content">
      {% include section_template %}
    </div>
  </div>
</article>
{% endblock %}
